.container{
    display: grid;
    grid-template-rows: .2fr 2fr 50px;
    grid-template-columns: .8fr 2fr;
    grid-template-areas: 
                        "nav nav"
                        "aside main"
                        "footer footer";
    height: 100vh;
}